# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: 'arfpocacr.azurecr.io/nonogram:latest'
  containerRegistry: "Azure Container Registry"
  chartFolderPath: charts/nonogramapi-azure
  versionPrefix: "0.1"

steps:
- task: Docker@2
  displayName: Login to ACR
  inputs:
    command: login
    containerRegistry: ${containerRegistry}
- task: Docker@2
  displayName: Build and Push
  inputs:
    command: buildAndPush
    Dockerfile: "**/Dockerfile"
    repository: $(imageName)
- task: Docker@2
  displayName: Logout of ACR
  inputs:
    command: logout
    containerRegistry: ${containerRegistry}

# poc = ACR name
# repository = repo name

